html {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f2f2f2;
}

body {
  margin: 0;
  display: block;
  color: #ffffff;
}

header {
  color: #fff;
  background: #333;
}

#main {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(160deg, #000000 ,#232323, #434343);
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 55%;
  box-shadow: 10px 10px 20px 0px #858585;
}

#home {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 300px;
}

#home .name {
  font-weight: 600;
  font-size: 50px;
}

#home a {
  font-size: 15px;
  font-weight: 400;
  margin-right: 15px;
  bottom: 15%;
  text-decoration: none;
  color: #ffffff;
}

#home a:hover {
  text-decoration: underline;
}

.grid {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(22rem,1fr));
  grid-gap: 0rem;
}

.grid-box {
  box-shadow: 0 0px 1px 0px #000000;
  position: relative;
  height: 250px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.grid img {
  height: 30%;
}

.grid-box:hover .grid-box-back {
  opacity: 1;
}

.grid-box-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: inherit;
  background: inherit;
  border-radius: 6px;
}

.grid-box-text {
  color: white;
  width: 100%;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 10px;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

.btn-outline:hover {
  box-shadow: none;
  background-color: #fff;
  color: #222;  
}


@media only screen and (max-width: 768px) {
#home {
  font-size: 50px;
  position: absolute;
  left: 30%;
  top: 40%;
}

}

@media only screen and (max-width: 425px) {
#home {
  font-size: 50px;
  position: absolute;
  left: 10%;
  top: 40%;
}

}


/* Animation Shape */

#main .bubble {
  position: absolute;
  top: 10%;
  left: 70%;
  width: 100px;
  height: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  background-color: #f2f2f2;
  transition: all 1s;
}

#main .bubble:hover {
  position: absolute;
  top: 10%;
  left: 70%;
  width: 120px;
  height: 120px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 100px;
  border-top-left-radius: 0px;
  background-image: linear-gradient(to bottom right, #9bff4f, #fff44f, #fff44f);
  transition: all 1s;
}

#main .bubble1 {
  position: absolute;
  top: 70%;
  left: 15%;
  width: 100px;
  height: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  background-color: #f2f2f2;
  transition: all 1s;
}

#main .bubble1:hover {
  position: absolute;
  top: 70%;
  left: 15%;
  width: 120px;
  height: 120px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 0px;
  border-top-left-radius: 100px;
  background-image: radial-gradient(black, black, white, white, white);
  transition: all 1s;
}

#main .ball {
  position: absolute;
  top: 75%;
  left: 80%;
  width: 100px;
  height: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  background-color: #434343;
  transition: all 1s;
  box-shadow: 5px 5px 10px 0px #858585
}

#main .ball:hover {
  position: absolute;
  top: 75%;
  left: 80%;
  width: 120px;
  height: 120px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  background-image: linear-gradient(#de3333, #ff1c1c);
  transition: all 1s;
}

/* End Animation Shape  */

