/*
*  <--UltraCSS-->
*  Made by TeamUltraSoft
*  Github: https://github.com/TeamUltraSoft/UltraCSS
*  Version: 1.0
*/
html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/*-----Row-----*/
.row {
    display: flex;
    flex-wrap: wrap;
}
/*--------------*/

/*-----Container-----*/
.container {
    width: 100%;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 990px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/*-------------------*/

/*-----Col-----*/
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    position: relative;
}

.col-1 {
    max-width: 8.33%;
    flex: 0 0 8.33%;
}

.col-2 {
    max-width: 16.66%;
    flex: 0 0 16.66%;
}

.col-3 {
    max-width: 24.99%;
    flex: 0 0 24.99%;
}

.col-4 {
    max-width: 33.32%;
    flex: 0 0 33.32%;
}

.col-5 {
    max-width: 41.65%;
    flex: 0 0 41.65%;
}

.col-6 {
    max-width: 49.98%;
    flex: 0 0 49.98%;
}

.col-7 {
    max-width: 58.31%;
    flex: 0 0 58.31%;
}

.col-8 {
    max-width: 66.64%;
    flex: 0 0 66.64%;
}

.col-9 {
    max-width: 74.97%;
    flex: 0 0 74.97%;
}

.col-10 {
    max-width: 83.3%;
    flex: 0 0 83.3%;
}

.col-11 {
    max-width: 91.63%;
    flex: 0 0 91.63%;
}

.col-12 {
    max-width: 99.96%;
    flex: 0 0 99.96%;
}

/*Justify-Content & Align-Items*/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 100%; 
}

.jus-start {
    display: flex;
    justify-content: flex-start;
    height: inherit;
    width: 100%;
}

.jus-center{
    display: flex;
    justify-content: center;
    height: inherit;
    width: 100%;
}

.jus-end {
    display: flex;
    justify-content: flex-end;
    height: inherit;
    width: 100%;
}

.align-start {
    display: flex;
    align-items: flex-start;
    height: inherit;
    width: 100%;
}

.align-center {
    display: flex;
    align-items: center;
    height: inherit;
    width: 100%;
}

.align-end {
    display: flex;
    align-items: flex-end;
    height: inherit;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 15px;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

.alert {
    position: relative;
    padding: 12px 20px;
    margin-bottom: 16px;
    background-color: #e0e0e0;
    color: #212529;
}

button {
    margin: 0;
    text-transform: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    border-radius: 0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #e0e0e0;
    color: #212529;
    border: 1px solid transparent;
    padding: 6px 12px;
    margin: 10px 0px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:active {
    background-color: #333333;
    color: #e0e0e0;
}

.btn:hover {
    box-shadow: 0px 0px 20px 1px #7d7d7d;
}